@font-face {
    font-family: "Cocogoose";
    src: url("Cocogoose Pro-trial.ttf") format("ttf");
}

.bg-black {
    background-color: black !important;
}

a.nav-link {
    border: 2px solid transparent;
    border-radius: 5em;
    width: 6em;
}
a.nav-link:hover {
    border: 2px solid white;
    border-radius: 5em;
}

div.about-card {
    border: 2px solid transparent;
    border-radius: 4em;
    padding: 1rem;
    min-width: 17vw;
    width: 300px;
    min-height: 28vh;
    height: 418px;
}

div.about-card:hover {
    border: 2px solid white;
    border-radius: 4em;
}

* {
    font-family: 'Cocogoose', Arial, Helvetica, sans-serif;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 52px;
    height: 52px;
}

.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 52px;
    height: 52px;
}

.about-text {
    max-width: 1000px;
}

p {
    color: #bbbbbb;
}